# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CFG Week 1 Homework</title>
</head>

<body>
    <h1>Anita Pun</h1>
    <div>
        <img src="./downloads/Headshot.jpg" alt="Hello World" width=100px>
    </div>
    <div>
        <h2>Some Facts About Me</h2>
        <ul>
            <li>Age: 26</li>
            <li>Location: Manchester</li>
            <li>Job: Conversion Rate Optimisation Manager at <a href="https://www.fearlessadventures.co.uk">Fearless Adventures</a></li>
        </ul>
    </div>
    <div>
        <h2>Interests</h2>
        <ul>
            <li>Training my new puppy, Bambi</li>
            <li>Blue Chip NFTs</li>
            <li>Exploring Outdoors</li>
        </ul>
    </div>
</body>
</html>
